<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.tohaman.rg2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.YouTubeActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <data
                    android:host="ytplay"
                    android:scheme="rg2" />
                <category android:name="android.intent.category.BROWSABLE" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SlidingTabsActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.TimerActivity" />
        <activity
            android:name=".activities.ScrambleActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <data
                    android:host="scrmbl"
                    android:scheme="rg2" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PllTestGame"
            android:label="@string/title_activity_pll_test_game">

        </activity>
        <activity
            android:name=".activities.TestGameSelectPllName"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".activities.TestGameSelectOllName"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".activities.OllTestGame"
            android:label="@string/title_activity_oll_test_game">

        </activity>
        <activity android:name=".activities.BlindTestGame">

        </activity>
        <activity
            android:name=".activities.ShowPagerActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <data
                    android:host="pager"
                    android:scheme="rg2" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.F2LPagerActivity">

        </activity>
    </application>

</manifest>