<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.tohaman.rg2">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.YouTubeActivity"
            android:theme="@style/Theme.AppCompat.Dialog">
            <intent-filter>
                <data
                    android:host="ytplay"
                    android:scheme="rg2"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.SlidingTabsActivity"
            android:theme="@style/AppThemeLight"/>
        <activity
            android:name=".activitys.TimerActivity"/>
        <activity
            android:name=".activitys.PllTestGame"
            android:label="@string/title_activity_pll_test_game"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.tohaman.rg2.MainActivity"/>
        </activity>

        <activity
            android:name=".activitys.PllTestSelect"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.tohaman.rg2.MainActivity"/>
        </activity>

    </application>

</manifest>